html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: border-box;
}


.dragon {
    height: 400px;
    width: 400px;
}
body {
    font-family: sans-serif;
    height: 100%;
}



/** Main */
.main {
    height: 100%;
    width: 100%;
    position: relative;
}

/** Timeline */
.timeline {
    display: flex;
    padding: 5px;
    border: 2px solid #DDD;
    white-space: nowrap;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.timeline:after {
    content: '';
    display: table;
    clear: both;
}

.timeline__item {
    float: left;
    padding: 3px;
    white-space: nowrap;
}
.timeline__box {
    padding: 5px;
    background: #eee;
}
.timeline__item--active .timeline__box {
    background: #BBB;
}
.timeline__label {
    font-weight: 300;
}

.viewer-container {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
}

.viewer {
    width: 100%;
    height: 100%;
    text-align: center;
}
.viewer__image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

#viewer {
    display: flex;
    width: 100%;
    height: 100%;
}

#timeline {
    width:100%;
    display: inline-block;
}


#canvases {
    width:100%;
    height: 20px;
    display: inline-block;
    border:1px solid #999;
}

#ranges, #canvasDisplayRanges {
    position: relative;
    width:100%;
    height: 20px;
    display: inline-block;
    border:1px solid #999;
}

.navCanvas {
    height: 20px;
    display: inline-block;
    cursor: pointer;
}

.navCanvas.even {
    background-color: #aaa;
}

.navRange {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 8pt;
    cursor: pointer;
}
.navRange.even {
    background-color: #333;
}
.navRange.odd {
    background-color: #777;
}

.navCanvas.selected, .navRange.selected {
    background-color: red;
}

#paging {
    padding:10px;
    color:#aaa;
}

#mainwrap {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#main {
    flex-grow: 1;
    flex-basis: auto;
    margin-top:30px;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
}

#supplemental {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    border:1px solid #777;
    display: inline-block;
    position: inherit;
    margin-left: 10px;
    margin-top:30px;
    padding:10px;
    width:50%;
}

#supplementalTitle {
    flex-grow: 1
}
#supplementalImages {
    flex:0 1 auto;
    width: 100%;
    height:66%;
    border:1px solid #777;
    display: inline-block;
    overflow-y: scroll;
}

#supplementalImages img {
    width:100%;
    margin:0 0 10px 0;
}

#supplementalDesc {
    flex-grow: 1;
    flex-basis: auto;
    margin-top:10px;
}

#linkDump {
    background:rgba(255,255,255,0.25);
    margin:1em;
    padding:1em;
    position: relative;
    color:#fff;
    font-size: 9pt;
}

#linkDump a {
    color:pink;
}
#linkDump p.desc {
    font-size: 8pt;
    margin: 0 0 1em 0;
}
