.markdown-body h1.mdc-typography {
  font-size: 28px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  border: none;
}

.layout {
  font-family: Roboto, sans-serif;
}

.start-screen__body > p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}
.layout {
  ul.drawer__list {
    margin: 0 0 40px 0;
    padding: 0 0 0 10px;
  }
}

.example-button {
  display: inline-block;
  margin: 40px 0;
  font-size: 18px;
  background: #68075a;
  color: #fff;
  padding: 20px 40px;
  cursor: pointer;
  &:hover {
    background: mix(#68075a, #fff, 90%);
  }
}
