.layout {
  display: flex;
  flex-direction: column;
  background: #fff;

  &__header {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
  }

  &__main {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
    flex: 1;
    display: flex;
  }

  &__footer {
    background: #333;
    display: flex;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-left);
  }
}
