.galway-player {
  background: #222;
  position: relative;

  &__controls {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__control {
    z-index: 10;
    background: rgba(#222, .5);
    border: none;
    height: 50px;
    width: 50px;
    transition: background .5s;
    color: #fff;
    text-align: center;

    @media (max-width: 40em) {
      height: 40px;
      width: 40px;
    }

    &:focus {
      outline: 2px solid #111;
      outline-offset: -3px;
    }
    &:active {
      background: #111;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      pointer-events: none;
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      left: 0;
      right: 0;
    }
  }
}
